<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="minN" value="1"/>
    <add key="maxN" value="100000"/>
    <add key="minM" value="1"/>
    <add key="maxM" value="15000"/>
    <add key="maxAutocompletionLength" value="15"/>
    <add key="maxWordLength" value="15"/>
    <add key="minFrequency" value="1"/>
    <add key="maxFrequency" value="1000000"/>

    <add key="autocompletionPattern" value="[a-z]+\s[1-9][0-9]*"/>
    <add key="wordPatten" value="[a-z]+"/>

    <add key="test.in" value="/Data/test.in"/>
  </appSettings>
</configuration>